.App {
  text-align: center;
  font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #161617;
}

#animeCard:hover {
  transition: ease-in-out;
  transition-duration: 450ms;
  transform: scale(1.1);
}

#posterDesigns {
  justify-content: center;
  padding-top: 21.8%;
}

#trendingCard {
  max-height: 13rem;
  max-width: 10rem;
}

#animeTitles {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}

#trendingTitle {
  display: flex;
  position: absolute;
  padding-left: 5.9%;
  padding-top: 20%;
}

#trendingColor {
  color: #d96830;
}

#fireIcon {
  color:red;
  display: flex;
  padding-top: 6%;
  padding-left: 3%;
}





