.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#animeCard:hover {
  transition: ease-in-out;
  transition-duration: 450ms;
  transform: scale(1.1);
}

#posterDesigns {
  justify-content: center;
}

#trendingCard {
  max-height: 13rem;
  max-width: 10rem;
}

#animeTitles {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}




